html
{
overflow-y:scroll;
}

body
{
font-size:12pt;
font-family: 'Open Sans', sans-serif;
color:#1d2731;
margin: 0px 0px;
padding: 0px 0px;
background-color:#ddd;
}
::selection
{
background-color:#328cc1;
color:white;
}

.all
{
max-width:1000px;
margin:0px auto;
background-color:white;
}

.navbar
{
background-color:#1d2731;
width:100%;
padding:0px 0px;
font-size:1.0em;
display:block;
xxx-position:fixed;
top:0px;
}
@media screen and (max-width: 445px)
{
 .navbar { xxx-position:absolute; }
}
.navbararea
{
max-width:1000px;
margin:0px auto;
display:block;
text-align:left;
}
.menuitem
{
display:inline-block;
padding:15px 20px;
xxx-margin:0px 20px 0 0;
color:#eeeeee;
}
.menuitem:hover
{
color:#92ccf1;
}
.active
{
background-color:#328cc1;
color:white;
}
.active:hover
{
color:white;
}

.header-small{
padding-top:4em;
padding-bottom:1em;
padding-left:0em;
background-color:#d9b310;
text-align:center;
}

a, .fl
{
color:#0b3c5d;
color:#328cc1;
text-decoration:none;
cursor:pointer;
}
a:hover, .fl:hover
{
color:#bb4c6d;
}

.cont
{
max-width:1000px;
margin:0px auto;
padding:1em 40px;
text-align:left;
background-color:white;
}

h1
{
font-family: 'Bitter', serif;
font-size:37pt;
margin:0em;
padding-top:1em;
padding-bottom:0.5em;
}

h2
{
font-family: 'Bitter', serif;
font-size:21pt;
padding:0.5em 0 0.25em 0;
margin:0em;
}

h3
{
font-family: 'Bitter', serif;
font-size:16pt;
padding:0.5em 0 0.25em 0;
margin:0em;
}


.header
{
text-align:center;
background-color:#d9b310;
height:300px;
display:flex;
height:300px;
overflow:hidden;
}
.header-txt
{
    padding:30px;
    overflow:hidden;
    
}
.header a
{
color:#0b3c5d;
}
.header a:hover
{
color:#bb4c6d;
}
.jobdesc
{
    overflow:hidden;
}
@media screen and (max-width: 400px)
{
    h1 { font-size:21pt; }
}
@media screen and (max-width: 700px)
{
    .header-img { display:none; }
    .header { height:200px; }
}
@media screen and (max-width: 840px)
{
     h1 { padding-top:0.2em; }
}
.narrow
{
max-width:700px;
}

.clear
{
clear:both;
}

.infobox
{
text-align:left;
xbackground-color:#1d2731;
display:inline-block;
margin-right:1em;
xcolor:white;
margin-bottom:0.5em;
border-top:1px solid #1d2731;
border-bottom:1px solid #1d2731;
padding:4px;
}
.infobox-title
{
display:inline-block;
xbackground-color:#328cc1;
xtext-align:center;
font-weight:bold;
padding-right:1em;
vertical-align:text-top;
}
.infobox-content
{
display:inline-block;
xpadding:1em;
vertical-align:text-top;
}

.newslist
{
padding:0 1.5em;
}
.newslist li
{
margin-bottom:0.5em;
}

.pubs
{
list-style-type:none;
padding:0 0em;
}
.pubs li
{
margin-bottom:1em;
border-left:solid 5px #328cc1;
padding-left:0.5em;
xbackground-color:#d9b310;
}
.ptitle
{
display:block;
font-weight:bold;
}
.ptitle a
{
color:#1d2731;
}
.pauthors
{
display:block;
}
.pvenue
{
display:block;
}
.plinks
{
display:block;
}
.bib
{
margin-top:3px;
font-family: monospace;
white-space: pre-wrap;
background-color:#3a3c41;
color:#F5F3EE;
padding:0.5em;
display:none;
}
.bibactive
{
background-color:#328cc1;
color:white;
padding:0 10px;
}
.bibactive:hover
{
color:white;
}

.fotox
{
width:100%;
}
.xcd
{
width:50%;
display:inline-block;
text-align:center;
margin-bottom:2em;
}
